<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>credit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">credit</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item lines="none">
      <ion-label>
        <h2>App-Name</h2>
        <p>Tucamano</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h2>Version</h2>
        <p>{{ version }}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h2>Lizenz</h2>
        <p>GNU 3</p>
      </ion-label>
    </ion-item>

    <ion-item-divider color="light">Team</ion-item-divider>
    <ion-item lines="none">
      <ion-label>
        <h3>Byting Ninja Pandas</h3>
        <ul>
          <li><p><b>Developer:</b> Antonino Provenzano (Ninosaurier)</p></li>
          <li><p><b>Developer & Designer:</b> Philipp Lang</p></li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-item-divider color="light">Icons & Grafiken</ion-item-divider>
    <ion-item lines="none">
      <ion-label>
        <h3>Flaggen</h3>
        <p>
          Platzhalter für Quelle und Lizenz der Flaggen (z. B. Wikimedia
          Commons, CC BY-SA 3.0)
        </p>
      </ion-label>
    </ion-item>

    <ion-item-divider color="light">Gebärdensprachdaten</ion-item-divider>
    <ion-item lines="none">
      <ion-label>
        <h3>Quelle</h3>
        <p>Platzhalter für Wörterbuchquelle oder Organisation</p>
      </ion-label>
    </ion-item>

    <ion-item-divider color="light">Technologien</ion-item-divider>
    <ion-item lines="none">
      <ion-label>
        <p>
          Ionic Framework ©
          <a href="https://ionicframework.com/" target="_blank"
            >ionicframework.com</a
          >
        </p>
        <p>
          Angular © <a href="https://angular.io/" target="_blank">angular.io</a>
        </p>
      </ion-label>
    </ion-item>

    <ion-item-divider color="light">Danksagung</ion-item-divider>
    <ion-item lines="none">
      <ion-label>
        <p>Platzhalter für Mitwirkende, Communitys oder Unterstützer:innen</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
