<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="full-height">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <ion-col size="11"><h2>Change language:</h2></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-img
            (click)="goToScreenDictionarySelectorPage()"
            src="{{ ICONS_FLAGS.DE }}"
            alt="German flag"
          ></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" >
            Sign language: DSG
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="11">
        <h2>Menu</h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-button shape="round" expand="full">
          <ion-icon slot="start" name="search"></ion-icon>
          Search
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-button shape="round" expand="full" [disabled]="true">
          <ion-icon name="library"></ion-icon>
          Flash Cards (in future)
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-button shape="round" expand="full" [disabled]="true">
          <ion-icon name="settings"></ion-icon>
          Settings (in future)
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-button shape="round" expand="full">
          <ion-icon name="code"></ion-icon>
          Credits
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center">
        Tucamano Logo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        Version: 0.0.1 Alpha
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
